:root {
  font-family: Helvetica, system-ui, sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  margin: 0 auto;
}

#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.cell {
  background-color: #000;
  border-collapse: collapse;
  aspect-ratio: 1 / 1; 
  width: 100%;
  height: 100%;

}

@media (max-width: 600px) {
  #grid {
    grid-template-rows: repeat(16, 1fr); 
    grid-template-columns: repeat(1, 1fr); 
  }
}